<div class="row">
  <div class="col-sm-3 col-mb-3 col-lg-3 col-xl-3">
    <div class="float-left" style="margin-bottom: 1%;">
      <button class="btn btn-primary navBttns" (click)="showdatamining()"><i class="fas fa-database"> &nbsp; </i>
        Data Mining Run
      </button>
    </div>
  </div>
  <div class="col-sm-2"></div>
  <div class="col-sm-2"></div>
  <div class="col-sm-2"></div>
</div>
<!--table for user management listings-->
<div class="mt-3">
  <app-custom-table [tableData]="userRows" [tableHeaders]="userColumns" [actionsNeeded]="true"
    [receivedMsg]="'adminDashboard'">
  </app-custom-table>
</div>
