a {
  color: #ffffff;
  outline: none;
}

.is-active{
  outline: none;
  color:#eb5627 !important;
  font-weight: bold;
}

/* a:hover{
  color:#9c857e !important;
  text-decoration: none;
} */

.header-menu {
  position: relative;
}

.ul-list {
  position: absolute;
  top: 10px;
  right: 0;
}

.nav-font {
  font-size: 18px;
}
.fa-calendar{
  font-size:larger;
}
.fa-calendar:hover{
  font-size:larger;color:#eb5627 !important;
}
@media only screen and (max-width: 720px) {
  .nav-font {
    font-size: 18px;
  }
}


@media only screen and (max-width: 960px) {
  .nav-font {
    font-size: 21px;
  }
}


@media only screen and (max-width: 1140px) {
  .nav-font {
    font-size: 22px;
  }
}

.dashbaorddropdown:hover {
  cursor: pointer;
}

.dashbaorddropdown:hover #dropdownmenu{
  display: block !important;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.navbar{
  border-top: 2px solid #265690;
  background-color: #ffffff;
  border-bottom: 3px solid #36acd2;
}

.navbar a{
  color:#265690;
}
.nav-link {
  display: inline;
  padding: .5rem 1rem;
}
.navbar .nav-item:not(:last-child) {
  margin-right: 3px;
}

.dropdown-toggle::after {
   transition: transform 0.15s linear;
}

.show.dropdown .dropdown-toggle::after {
  transform: translateY(3px);
}
.dropdown-menu {
  margin-top: 0;
}
.navbar a:hover{
  color: rgb(235, 86, 39) !important;
}
/* .navbar-light .navbar-nav .active{
  color: rgb(235, 86, 39) !important;
} */
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: rgb(235, 86, 39) !important;
}
.ng-select.ng-select-multiple .ng-select-container .ng-value-container {
  padding: 0px !important;
  padding-left: 7px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: rgb(235, 86, 39) !important;
}
#UserName{
  cursor: pointer !important;
}
.active > a {
  color: rgb(235, 86, 39) !important;
}
a.active {
  color: rgb(235, 86, 39) !important;
}
