<div class="container-fluid p-4">

  <div class="latest-comment-section m-3">
    <label><span class="font-weight-bold">Last Comment</span> {{ lastComment[0].comment }}</label>
  </div>

  <div class="all-comment-section m-3">
    <label class="font-weight-bold">All Comments</label>
    <div>
      {{ allSectionPcomments }}
    </div>
  </div>

  <div class="enter-comment-section">
    <input type="text" placeholder="Enter Comment" [(ngModel)]='enteredComment' class="form-control col-sm-4">
    <button class="col-sm-3 mt-2 btn btn-primary" (click)='saveComment(enteredComment)'>Save Comment</button>
  </div>

  <button class="btn btn-primary mt-3 col-sm-3" (click)="closeModal()">
    Close
  </button>

</div>
