.table-bordered thead th {
    border-bottom-width: 1px !important;
    font-weight: bold;
    font-size: 18px !important;
}
.table-header-hover  :hover{
     background-color: #2b5b96;
}
.closeBtn{
    background: red;
color: white;
border: none;
font-size: small;
float: right;
}
.CustRow{
    display: -ms-flexbox;
    display: -webkit-box;
    display: inline ;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px ;
    margin-left: -15px;
}